@import url("estilosGenericos.css");
@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*font-family: "Poppins", sans-serif;*/

body {
  font-family: "Poppins", sans-serif;
}
/*header*/

.header {
  background-color: var(--dark-black-100);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header__nav--menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.ulnav__li:first-child a img {
  /* width: 50%; */
  /* overflow: hidden; */
}

.ulnav__li a {
  color: var(--ligth-white-100);
}

.ulnav__li:nth-child(1) a {
  filter: brightness(0) invert(1);
  display: block;
  overflow: hidden;
  /* border: 1px solid #ce1818; */
}

.ulnav .ulnav__li:first-child {
  width: 50px;
  display: block;
}

.header__nav--a button {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.4s;
}

.header__nav--a button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 14px 0px var(--ligth-gold-200);
}

/*main*/

/*section1*/
.main__section1 {
  text-align: center;
  background-image: url("../images/Rectangle\ 8.png");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 250px 75px 100px 75px;
  color: var(--ligth-white-100);
}

.main__section1--h1 {
  text-transform: uppercase;
  font-size: var(--txt-1);
  margin-bottom: 20px;
}

.main__section1--button {
  /* width: 150px;
  height: 25px; */
  padding: 15px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.4s;
}

.main__section1--button:hover {
  cursor: pointer;
  box-shadow: 0px 7px 14px 2px var(--ligth-gold-200);
}

/*section2*/
/*section3*/

/*footer*/
