@import url("estilosGenericos.css");
@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*font-family: "Poppins", sans-serif;*/

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: var(--dark-black-100);
}

button,
input {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/*header*/

.header {
  background-color: var(--dark-black-100);
  padding: 15px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header__nav--menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.ulnav__li:first-child a img {
  /* width: 50%; */
  /* overflow: hidden; */
}

.ulnav__li a {
  color: var(--ligth-white-100);
}

.ulnav__li:nth-child(1) a {
  filter: brightness(0) invert(1);
  display: block;
  overflow: hidden;
  /* border: 1px solid #ce1818; */
}

.ulnav .ulnav__li:first-child {
  width: 50px;
  display: block;
}

/*animacion botton*/
.ulnav__li a {
  position: relative; /* Establece la posición relativa para que el pseudo-elemento ::after se posicione correctamente */
}

.ulnav__li a::after {
  content: ""; /* Añade contenido al pseudo-elemento */
  position: absolute; /* Establece la posición absoluta para que se pueda posicionar en relación con el elemento padre */
  bottom: -10px; /* Lo posiciona en la parte inferior del botón */
  left: 0; /* Lo posiciona en el lado izquierdo del botón */
  width: 0; /* Inicialmente establece la anchura a cero para que no sea visible */
  height: 4px; /* Establece la altura de la línea */
  background-color: var(--dark-red-100); /* Color de la línea */
  transition: width 0.3s; /* Añade una transición a la propiedad width para crear el efecto de animación */
}

.ulnav__li a:hover::after {
  width: 100%; /* Cuando se pasa el ratón sobre el enlace, aumenta la anchura de la línea al 100% */
}

.header__nav--a button {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);

  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.4s;
}

.header__nav--a button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 14px 0px var(--ligth-gold-200);
}

/*main*/

/*section1*/
.main__section1 {
  text-align: center;
  /* background-image: url("../images/Rectangle\ 8.png");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--dark-blue-100);
  padding: 250px 75px 100px 75px;
  color: var(--ligth-white-100);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.main__section1 > iframe {
  position: absolute;
  filter: blur(1.5px);
  /* backdrop-filter: blur(10px); */
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  overflow: hidden;
  pointer-events: none;
}

.main__section1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.main__section1--h1 {
  text-transform: uppercase;
  font-size: var(--txt-1);
  margin-bottom: 20px;
}

.main__section1--button {
  /* width: 150px;
  height: 25px; */
  padding: 15px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.9s;
  color: var(--dark-black-100);
}

.main__section1--button:hover {
  cursor: pointer;
  box-shadow: 0px 7px 14px 2px var(--ligth-gold-200);
}

.main__section1--h1,
.main__section1--button,
.main__section1--p {
  z-index: 3;
  position: relative;
}

/*section2*/

.main__section2 {
  padding: 150px 150px;
  justify-content: space-between;
  background-color: var(--dark-blue-100);
  color: var(--ligth-white-100);
  flex-wrap: wrap;
}

.main__section2--gallery {
  position: relative;
  /* padding: 50px; */
  /* justify-content: center; */
  /* display: flex; */
}

/*animation*/

.main__section2--gallery {
  display: flex;
  /* left: calc(50% - 19rem); */
}

.card__gallery {
  position: relative;
  left: 10%;
  top: 30%;
  width: 7rem;
  height: 10rem;
  background: var(--bg-card);
  border-radius: 0.5rem;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card__gallery:not(:first-child) {
  margin-left: -1rem;
}

.card__gallery:hover {
  transform: translateY(-2rem);
  font-weight: bold;
  cursor: pointer;
  scale: 1.5;
}

.card__gallery:hover ~ .card__gallery {
  left: 3rem;
}

.card__gallery img {
  height: 10rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.25rem;
}

.main__section2--gallery:hover > :not(:hover) {
  opacity: 0.5;
}

.main__section2--about {
  width: 50%;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  text-align: justify;
  padding: 25px;
}

.main__section2--about h2 {
  font-size: var(--txt-2);
  font-weight: 800;
}
.main__section2--about p {
  font-weight: 300;
  font-size: var(--txt-3);
}

.main__section2--about span {
  font-weight: 800;
  font-size: var(--txt-3);
}
/*section3*/

.main__section3 {
  align-items: center;
  padding: 100px 50px;
  gap: 15px;
  background-color: var(--ligth-white-100);
}

.main__section3--h2 {
  font-size: var(--txt-2);
  font-weight: 700;
}

.main__section3--p {
  width: 50%;
  text-align: center;
  font-size: var(--txt-3);
}

.service {
  gap: 20px;
}

.service__cards {
  border-radius: var(--radius-1);
  box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.service__cards--img {
  overflow: hidden;
  border-radius: var(--radius-2) var(--radius-2) 0 0;
}

.service__cards--img > img {
  transition: scale 0.7s;
}

.service__cards--img > img:hover {
  scale: 1.2;
}

.main__section3--div {
  gap: 25px;
}

.service__cards--description {
  padding: 10px 15px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.service__cards--description > span:first-child {
  font-weight: 600;
}

.service__cards--description > span:last-child {
  padding: 3px 7px;
  background-color: var(--dark-black-100);
  color: var(--ligth-white-100);
  border-radius: var(--radius-2);
}

/*section4*/

.main__section4 {
  padding: 100px 70px;
  background-color: var(--dark-black-100);
  align-items: center;
  justify-content: center;
}

.main__section4--div {
  gap: 30px;
}

.ms4h2container {
  /* rotate: -90deg; */
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

div > .main__section4--h2 {
  rotate: -90deg;
  /* color: white; */
  left: -170px;
  min-width: max-content;
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--txt-1);
  color: var(--ligth-blue-100);
  /* margin-top: 120px; */
  /* line-height: 6; */

  /* width: ; */
}

.ms4d__card--img {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-2);
}

.ms4d__card--img > img {
  transition: scale 0.7s;
}

.ms4d__card--img > img:hover {
  scale: 1.1;
}

.ms4d__card--equipo {
  position: absolute;
  bottom: calc(50% - 150px);
  left: calc(50% - 30px);
  color: var(--ligth-gold-100);
  font-weight: 700;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: var(--txt-3);
}

.ms4d__card--iconos {
  padding: 10px 0;
  justify-content: space-evenly;
  font-size: var(--txt-4);
  color: var(--ligth-white-100);
}

.ms4d__card--iconos i:hover {
  color: var(--dark-red-100);
}

.ms4d__card--iconos > i:hover {
  cursor: pointer;
}

/*formulario contacto*/

.main__contacto {
  padding: 100px 50px;
  width: 100%;
  background-color: var(--dark-black-100);
  color: var(--ligth-white-100);
}

.main__contacto--h2 {
  font-size: var(--txt-5);
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.main__contacto--form > div {
  gap: 20px;
}

.form {
  align-items: center;
  gap: 15px;
}

.form > div:first-child {
  width: 40%;
}

.form__label {
  border-radius: var(--radius-2);
  padding: 5px 0;
  display: flex;
  flex-direction: column;

  position: relative;
}

.form__label > span {
  position: absolute;
  bottom: 14px;
  left: 10px;
  display: flex;
  pointer-events: none;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 500;
  color: var(--dark-black-100);
}

.form__label > input,
.form__label > select {
  border: 1px solid var(--ligth-white-100);
  padding: 7px;
  font-size: var(--txt-3);
  border-radius: var(--radius-2);
}
.form__label:nth-child(2) > input ~ span,
.form__label > input:valid ~ span,
.form__label > input:focus ~ span {
  transform: translateX(0) translateY(-34px);
  font-size: var(--txt-6);
  /* background-color: var(--ligth-white-100) !important; */
  padding: 0 3px;
  /* border-left: 1px solid var(--dark-black-100);
  border-right: 1px solid var(--dark-black-100); */
  color: var(--ligth-white-100);
}

.form__btn {
  gap: 15px;
  width: 150px;
}

.form__btn button {
  /* max-width: 250px; */
  padding: 10px;
  border-radius: var(--radius-2);
  background-color: var(--ligth-gold-100);
  font-weight: 700;
  font-size: var(--txt-3);
  transition: box-shadow 0.6s;
}

.form__btn button:hover {
  cursor: pointer;
  box-shadow: 7px 7px 10px 2px var(--ligth-gold-200);
}

.radio__container {
  justify-content: space-between;
}

.radio__container > input {
  display: none;
}

.form__label--radio {
  padding: 7px 15px;
  border: 1px solid var(--ligth-white-300);
  border-radius: var(--radius-2);
  cursor: pointer;
}
input:checked + .form__label--radio {
  background-color: var(--ligth-gold-300);
  color: var(--dark-black-100);
}

.form__label > select {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--dark-black-100);
}

/*footer*/
.footer {
  color: var(--ligth-white-100);
  justify-content: space-between;
  padding: 75px 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(103, 0, 0, 1) 100%
  );
  align-items: center;
  /* font-size: var(--txt-); */
  font-size: 20px;
}

.footer__logo > a > img {
  width: 50%;

  filter: brightness(0) invert(1);
}
.footer__logo > a > img {
  width: fit-content;
}

.footer__redesSociales {
  gap: 50px;
  font-size: var(--txt-5);
}

.footer__redesSociales i:hover {
  cursor: pointer;
  color: var(--ligth-gold-100);
}

@media (max-width: 1204px) {
  .main__section2 {
    padding: 50px;
  }
}
@media (max-width: 1136px) {
  .main__section1 {
    padding: 50px;
  }

  .main__section1--h1 {
    font-size: var(--txt-4);
  }

  .main__section4 {
    flex-direction: column;
    gap: 15px;
  }

  .main__section4--div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ms4d__card {
    max-width: 250px;
  }

  .ms4h2container {
    /* rotate: -90deg; */
    width: 100%;
    height: 50px;
    position: static;
    text-align: center;
  }

  div > .main__section4--h2 {
    rotate: 0deg;
    /* color: white; */
    text-align: center;
    position: static;
    min-width: max-content;
  }

  .ms4d__card--equipo {
    position: absolute;
    bottom: 10%;
    left: 35%;
  }
}

@media (max-width: 934px) {
  .main__section2 {
    flex-direction: column;
    align-items: center;
  }

  .main__section2--about {
    width: 100%;
  }

  .main__section2--gallery {
    order: 2;
  }

  .main__section2--about {
    order: 1;
  }

  .form > div:first-child {
    width: 100%;
  }
}

@media (max-width: 838px) {
  .header__nav {
    justify-content: center;
  }

  .ulnav__li:first-child {
    display: none !important;
  }

  .header__nav--a {
    display: none;
  }
}

@media (max-width: 700px) {
  .main__section3--div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main__section3 {
    padding: 15px;
  }

  .main__section3--p {
    width: 100%;
  }

  .service__cards {
    max-width: 200px;
  }
}
@media (max-width: 600px) {
  .main__section2 {
    padding: 40px 0;
  }

  .card__gallery {
    left: 0;
    width: 100%;
  }

  .card__gallery:hover {
    transform: translateY(2rem);
    font-weight: bold;
    cursor: pointer;
    scale: 1.2;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 15px 0;
  }
}
@media (max-width: 488px) {
  .main__section1 {
    padding: 15px 0;
    margin: 10px 0;
  }

  .main__section1--h1 {
    font-size: var(--txt-3);
  }

  .main__section1--button {
    padding: 15px;
  }

  .main__section4 {
    padding: 15px 0;
  }

  .main__section4--h2 {
    font-size: var(--txt-5) !important;
  }

  .main__contacto {
    padding: 50px 5px;
  }

  .form > div:last-child {
    width: 100%;
  }
}
