@import url("estilosGenericos.css");
@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*font-family: "Poppins", sans-serif;*/

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

button {
  font-family: "Poppins", sans-serif;
}
/*header*/

.header {
  background-color: var(--dark-black-100);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header__nav--menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.ulnav__li:first-child a img {
  /* width: 50%; */
  /* overflow: hidden; */
}

.ulnav__li a {
  color: var(--ligth-white-100);
}

.ulnav__li:nth-child(1) a {
  filter: brightness(0) invert(1);
  display: block;
  overflow: hidden;
  /* border: 1px solid #ce1818; */
}

.ulnav .ulnav__li:first-child {
  width: 50px;
  display: block;
}

.header__nav--a button {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);

  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.4s;
}

.header__nav--a button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 14px 0px var(--ligth-gold-200);
}

/*main*/

/*section1*/
.main__section1 {
  text-align: center;
  background-image: url("../images/Rectangle\ 8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-blue-100);
  padding: 250px 75px 100px 75px;
  color: var(--ligth-white-100);
}

.main__section1--h1 {
  text-transform: uppercase;
  font-size: var(--txt-1);
  margin-bottom: 20px;
}

.main__section1--button {
  /* width: 150px;
  height: 25px; */
  padding: 15px 50px;
  border-radius: 10px;
  background-color: var(--ligth-gold-100);
  color: var(--dark-grey-100);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  transition: box-shadow 0.4s;
  color: var(--dark-black-100);
}

.main__section1--button:hover {
  cursor: pointer;
  box-shadow: 0px 7px 14px 2px var(--ligth-gold-200);
}

/*section2*/

.main__section2 {
  padding: 150px 150px;
  justify-content: space-between;
  background-color: var(--dark-blue-100);
  color: var(--ligth-white-100);
  flex-wrap: wrap;
}

.main__section2--gallery {
  position: relative;
  padding: 50px;
  /* justify-content: center; */
  /* display: flex; */
}

.main__section2--gallery div:not(:first-child) {
  position: absolute;
}

.main__section2--gallery div:first-child {
  z-index: 3;
  position: relative;
}
.main__section2--gallery div:nth-child(2) {
  right: -30%;
  top: -10%;
  z-index: 2;
}

.main__section2--gallery div:last-child {
  z-index: 1;
  bottom: -20%;
  right: -35%;
}

.main__section2--about {
  width: 50%;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  text-align: justify;
  padding: 25px;
}

.main__section2--about h2 {
  font-size: var(--txt-2);
  font-weight: 800;
}
.main__section2--about p {
  font-weight: 300;
  font-size: var(--txt-3);
}

.main__section2--about span {
  font-weight: 800;
  font-size: var(--txt-3);
}
/*section3*/

.main__section3 {
  align-items: center;
  padding: 100px 50px;
  gap: 15px;
}

.main__section3--h2 {
  font-size: var(--txt-2);
  font-weight: 700;
}

.main__section3--p {
  width: 50%;
  text-align: center;
  font-size: var(--txt-3);
}

.service {
  gap: 20px;
}

.service__cards {
  border-radius: var(--radius-1);
  box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.service__cards--img {
  overflow: hidden;
  border-radius: var(--radius-2) var(--radius-2) 0 0;
}

.service__cards--img > img {
  transition: scale 0.7s;
}

.service__cards--img > img:hover {
  scale: 1.2;
}

.main__section3--div {
  gap: 25px;
}

.service__cards--description {
  padding: 10px 15px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.service__cards--description > span:first-child {
  font-weight: 600;
}

.service__cards--description > span:last-child {
  padding: 3px 7px;
  background-color: var(--dark-black-100);
  color: var(--ligth-white-100);
  border-radius: var(--radius-2);
}

/*section4*/

.main__section4 {
  padding: 100px 70px;
  background-color: var(--dark-black-100);
  align-items: center;
  justify-content: center;
}

.main__section4--div {
  gap: 30px;
}

.ms4h2container {
  /* rotate: -90deg; */
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

div > .main__section4--h2 {
  rotate: -90deg;
  /* color: white; */
  left: -170px;
  min-width: max-content;
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--txt-1);
  color: var(--ligth-blue-100);
  /* margin-top: 120px; */
  /* line-height: 6; */

  /* width: ; */
}

.ms4d__card--img {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-2);
}

.ms4d__card--img > img {
  transition: scale 0.7s;
}

.ms4d__card--img > img:hover {
  scale: 1.1;
}

.ms4d__card--equipo {
  position: absolute;
  bottom: calc(50% - 150px);
  left: calc(50% - 30px);
  color: var(--ligth-gold-100);
  font-weight: 700;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: var(--txt-3);
}

.ms4d__card--iconos {
  padding: 10px 0;
  justify-content: space-evenly;
  font-size: var(--txt-4);
  color: var(--ligth-white-100);
}

.ms4d__card--iconos > i:hover {
  cursor: pointer;
}
/*footer*/
.footer {
  justify-content: space-between;
  padding: 35px 50px;
  background-color: var(--dark-red-100);
  align-items: center;
  /* font-size: var(--txt-); */
  font-size: 20px;
}

.footer__logo > img {
  width: 50%;
}

.footer__redesSociales {
  gap: 50px;
}
