:root {
  --dark-blue-100: #0d121e;

  --ligth-blue-100: #636a86;

  --dark-black-100: #080b16;

  --ligth-gold-100: #f0b35b;
  --ligth-gold-200: #f0b25b2c;

  --ligth-white-100: #ffffff;
  --ligth-white-200: #fafafa;

  --dark-red-100: #670000;

  --txt-1: 2.75rem; /*44px*/
  --txt-2: 2.5rem; /*40px*/
  --txt-3: 1rem; /*16px*/
  --txt-4: 1.5rem; /*24px*/
  --txt-5: 1.75rem; /*28px*/
  --txt-6: 0.75rem; /*12px*/

  --radius-1: 16px;
  --radius-2: 8px;
}
